body {
  margin: 0;
  height: 100%;
}

video {
  max-width: 100%;
  max-height: 100%;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-leave-to,
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.5s all ease;
}
